[submodule "orthogonal-engineering"]
	path = orthogonal-engineering-ref
	url = https://github.com/aidoruao/orthogonal-engineering.git
	shallow = true
	update = none
[submodule "orthogonal-engineering-ref"]
	path = orthogonal-engineering-ref
	url = https://github.com/aidoruao/orthogonal-engineering.git
